<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="frags :: head ('Secret Recipe')"></head>

<body>
    <nav th:replace="frags :: nav"></nav>
    <header th:replace="frags :: header"></header>

    <div class="container">
        <h2>The Secret Recipe</h2>
        <p>The Wisconsin Fried Chicken Secret Recipe is a closely held secret. Only view this page in a secure location.</p>
        <p><a class="btn btn-primary" data-toggle="collapse" href="#secret-recipe" role="button">Click here to reveal the Secret Recipe</a></p>
        <div class="collapse" id="secret-recipe">
            <div class="card card-body bg-dark text-light">
                <h4>Ingredients</h4>
                <ul>
                    <li>1 Whole Frozen Chicken</li>
                    <li>50 Cheese Curds</li>
                    <li>Bacon Grease</li>
                    <li>Buns</li>
                </ul>
                <h4>Directions</h4>
                <ol>
                    <li>Place chicken and cheese curds in hot bacon grease.</li>
                    <li>Remove when cooked-ish.</li>
                    <li>Chop chicken into bun-shaped size.</li>
                    <li>Place chicken on bun. Drizzle with bacon grease.</li>
                    <li>Serve hot!</li>
                </ol>
            </div>
        </div>
    </div>

    <footer th:replace="frags :: footer"></footer>

    <th:block th:replace="frags :: scripts"></th:block>
</body>
</html>